# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/RESTfullDemo/.vs/
src/RESTfullDemo/bin/
src/RESTfullDemo/obj/
src/RESTfullDemo/Migrations/
src/TestMarkdown/bin/
src/TestMarkdown/obj/
src/BlazorPluginTest/.vs/
src/BlazorPluginTest/_ReSharper.Caches/
src/BlazorPluginTest/BlazorPluginTest/.vs/
src/BlazorPluginTest/BlazorPluginTest/_ReSharper.Caches/
src/BlazorPluginTest/BlazorPluginTest/bin/
src/BlazorPluginTest/BlazorPluginTest/obj/
src/BlazorPluginTest/Plugins/Plugin1/bin/
src/BlazorPluginTest/Plugins/Plugin1/obj/
src/BlazorPluginTest/Plugins/Plugin2/bin/
src/BlazorPluginTest/Plugins/Plugin2/obj/
src/RESTfullDemo/_ReSharper.Caches/
src/TestWebAPI/obj/
src/TestWebAPI/bin/
src/BlazorApp1/.vs/
src/BlazorApp1/_ReSharper.Caches/
src/BlazorApp1/BlazorApp1/Client/bin/
src/BlazorApp1/BlazorApp1/Client/obj/
src/BlazorApp1/BlazorApp1/Server/bin/
src/BlazorApp1/BlazorApp1/Server/obj/
src/BlazorApp1/BlazorApp1/Shared/bin/
src/BlazorApp1/BlazorApp1/Shared/obj/
src/FileUploadAndDownload/.vs/
src/FileUploadAndDownload/_ReSharper.Caches/
src/FileUploadAndDownload/FileUploadAndDownload/bin/
src/FileUploadAndDownload/FileUploadAndDownload/obj/
